Workplace Learning Enquiry Form.json
{
  "name": "Workplace Learning Enquiry Form",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "92d357d5-f6c9-4d80-9504-99b3fa5e86a4",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -120,
        0
      ],
      "id": "c959fc28-8ac6-4b9f-8067-7eb60931fa77",
      "name": "Website Enquiry Webhook",
      "webhookId": "92d357d5-f6c9-4d80-9504-99b3fa5e86a4"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json || {};\n\nfunction clean(value, fallback = '') {\n  return String(value ?? fallback)\n    .replace(/[\\u0000-\\u001f\\u007f]/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction escapeHtml(value) {\n  return clean(value)\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;')\n    .replace(/'/g, '&#039;');\n}\n\nfunction row(label, value) {\n  return `<tr>\n    <td style=\"width: 185px; padding: 10px 12px; border: 1px solid #dfe8e3; background: #f6faf8; font-weight: 700; color: #0b3d3b;\">${escapeHtml(label)}</td>\n    <td style=\"padding: 10px 12px; border: 1px solid #dfe8e3; color: #102424;\">${escapeHtml(value || '-')}</td>\n  </tr>`;\n}\n\nfunction scoreBand(score) {\n  if (score >= 70) return 'Hot lead';\n  if (score >= 45) return 'Qualified lead';\n  return 'Needs follow-up';\n}\n\nconst lead = {\n  submittedAt: new Date().toISOString(),\n  name: clean(body.name),\n  email: clean(body.email),\n  phone: clean(body.phone),\n  company: clean(body.company),\n  employeeCount: clean(body.employeeCount),\n  interest: clean(body.interest),\n  challenge: clean(body.challenge),\n  leadMagnet: clean(body.leadMagnet),\n  source: clean(body.source, 'LEA NACE workplace learning website'),\n  pageUrl: clean(body.pageUrl),\n  userAgent: clean(body.userAgent)\n};\n\nconst missing = [];\nfor (const field of ['name', 'email', 'company', 'challenge']) {\n  if (!lead[field]) missing.push(field);\n}\n\nlead.valid = missing.length === 0;\nlead.missingFields = missing;\nlead.leadScore = 0;\nif (lead.email.includes('@') && !/(gmail|yahoo|hotmail|outlook)\\./i.test(lead.email)) lead.leadScore += 15;\nif (lead.company) lead.leadScore += 20;\nif (lead.employeeCount) lead.leadScore += 15;\nif (/AI|NACE|LEA|job redesign|productivity|grant|automation|digital/i.test(lead.interest + ' ' + lead.challenge)) lead.leadScore += 30;\nif (lead.leadMagnet) lead.leadScore += 10;\n\nlead.leadStatus = scoreBand(lead.leadScore);\nlead.whatsAppUrl = lead.phone ? `https://wa.me/${lead.phone.replace(/\\D/g, '')}` : '';\nlead.subject = `Workplace Learning Enquiry: ${lead.company || lead.name || 'New Lead'}`;\nlead.replyTo = lead.email;\nlead.summary = [\n  `Name: ${lead.name || '-'}`,\n  `Email: ${lead.email || '-'}`,\n  `Phone: ${lead.phone || '-'}`,\n  `Company: ${lead.company || '-'}`,\n  `Employee count: ${lead.employeeCount || '-'}`,\n  `Interest: ${lead.interest || '-'}`,\n  `Lead magnet: ${lead.leadMagnet || '-'}`,\n  `Lead score: ${lead.leadScore} (${lead.leadStatus})`,\n  '',\n  'Challenge:',\n  lead.challenge || '-'\n].join('\\n');\n\nconst nextSteps = [\n  'Reply within 1 business day.',\n  'Confirm business challenge, target job roles, and project champion.',\n  'Check LEA/NACE fit, company size, and grant documentation readiness.',\n  lead.leadMagnet ? 'Send the Workplace Learning Grant-Fit Checklist.' : 'Offer the Workplace Learning Grant-Fit Checklist if relevant.'\n];\n\nlead.emailHtml = `<div style=\"font-family: Arial, Helvetica, sans-serif; max-width: 720px; color: #102424; line-height: 1.55;\">\n  <div style=\"background: #0b3d3b; color: #ffffff; padding: 22px 24px; border-radius: 8px 8px 0 0;\">\n    <p style=\"margin: 0 0 6px; color: #d99a29; font-size: 12px; font-weight: 800; text-transform: uppercase;\">LEA / NACE Workplace Learning Lead</p>\n    <h2 style=\"margin: 0; font-size: 24px; line-height: 1.2;\">${escapeHtml(lead.company || 'New workplace learning enquiry')}</h2>\n    <p style=\"margin: 10px 0 0; color: #dcebe6;\">${escapeHtml(lead.leadStatus)} • Score ${lead.leadScore}/90</p>\n  </div>\n\n  <table cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse: collapse; width: 100%; border: 1px solid #dfe8e3; border-top: 0;\">\n    ${row('Submitted', lead.submittedAt)}\n    ${row('Name', lead.name)}\n    ${row('Email', lead.email)}\n    ${row('Phone / WhatsApp', lead.phone)}\n    ${row('Company', lead.company)}\n    ${row('Employee Count', lead.employeeCount)}\n    ${row('Main Interest', lead.interest)}\n    ${row('Lead Magnet', lead.leadMagnet)}\n    ${row('Source', lead.source)}\n  </table>\n\n  <div style=\"padding: 20px 24px; border: 1px solid #dfe8e3; border-top: 0; background: #ffffff;\">\n    <h3 style=\"margin: 0 0 10px; color: #0b3d3b;\">Project Challenge</h3>\n    <p style=\"margin: 0; white-space: pre-wrap;\">${escapeHtml(lead.challenge || '-')}</p>\n  </div>\n\n  <div style=\"padding: 20px 24px; border: 1px solid #dfe8e3; border-top: 0; background: #f6faf8;\">\n    <h3 style=\"margin: 0 0 10px; color: #0b3d3b;\">Suggested Follow-Up</h3>\n    <ol style=\"margin: 0; padding-left: 20px;\">\n      ${nextSteps.map((step) => `<li style=\"margin: 6px 0;\">${escapeHtml(step)}</li>`).join('')}\n    </ol>\n  </div>\n\n  <div style=\"padding: 16px 24px; border: 1px solid #dfe8e3; border-top: 0; border-radius: 0 0 8px 8px; background: #ffffff; color: #5d6d6b; font-size: 13px;\">\n    <p style=\"margin: 0 0 6px;\">Page URL: ${escapeHtml(lead.pageUrl || '-')}</p>\n    <p style=\"margin: 0;\">User agent: ${escapeHtml(lead.userAgent || '-')}</p>\n  </div>\n</div>`;\n\nreturn [{ json: lead }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        0
      ],
      "id": "53e219eb-d7f6-48b4-b2c2-4798404b0ab0",
      "name": "Normalize Lead"
    },
    {
      "parameters": {
        "sendTo": "angch@tertiaryinfotech.com",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.emailHtml }}",
        "options": {
          "replyTo": "={{ $json.replyTo }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        360,
        0
      ],
      "id": "f8694b73-1252-4275-98ab-9c4a5f03ad87",
      "name": "Email Lead",
      "webhookId": "7bb08851-ebdb-44c4-9a6c-1c16ea094de6",
      "credentials": {
        "gmailOAuth2": {
          "id": "6jdtBHvPenBjIAnr",
          "name": "Gmail OAuth (Sales Account)"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true, \"message\": \"Thank you. Your enquiry has been sent.\", \"leadStatus\": $(\"Normalize Lead\").item.json.leadStatus } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        600,
        0
      ],
      "id": "96637f05-6298-45b7-8ef8-0f4c5843199e",
      "name": "Respond Success"
    }
  ],
  "pinData": {},
  "connections": {
    "Website Enquiry Webhook": {
      "main": [
        [
          {
            "node": "Normalize Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Lead": {
      "main": [
        [
          {
            "node": "Email Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Lead": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d12ba613-b9cb-4d68-9592-b026b48a0496",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "49e027222b8fb909d02bbbe15b1a0377042d01d62581eff8cf4cdc4b9615c685"
  },
  "nodeGroups": [],
  "id": "mAp738ec5jvu5Jvp",
  "tags": []
}
